version: '3.4'
services:

  julia_build:
    image: julia:1.6.1-buster
    volumes:
      - ./requirements/classes/${CLASS}:/tmp/env/
      - ./scripts:/tmp/scripts/
    working_dir: /tmp/env
    command: >
      bash -c "julia -e 'import Pkg; Pkg.activate(\"julia_env\"); 
      include(expanduser(\"/tmp/scripts/install_julia_packages.jl\"));
      include(expanduser(\"/tmp/env/requirements.jl\"));
      install(julia_packages);
      '"

  jh_image:
    build:
      context: .
      target: ${TARGET}
      cache_from: 
        - gcr.io/jupyterhub-docker-images/${CLASS}:latest
      args: 
        CLASS: ${CLASS}
        SQLITE: ${SQLITE:-false}
        PYTHON_VERSION: ${PYTHON_VERSION:-3.8}
    volumes:
      - ./requirements/out:/home/jovyan/tmp/out
    user: root
    command: > 
      bash -c "
      conda env export --name ${CLASS} > /home/jovyan/tmp/out/environment.yml &&
      conda env export --name ${CLASS} --no-build > /home/jovyan/tmp/out/environment.nb.yml
      "