# required for environment and plugins 
jupyter-server-proxy <= v1.6.0
jupyterlab-git <= v0.24.0
nbdime
nbgitpuller
# RISE
git+https://github.com/betatim/vscode-binder 
jupytext
jupyterlab_latex
pyppeteer
nbconvert
