# add class-specific packages here:
r-gridextra
r-ggally
r-knitr
r-irdisplay

# these are the scipy base packages ( YOU PROBABLY DON'T WANT TO REMOVE THESE )
numpy
dask 
pandas
numexpr
matplotlib
scipy
seaborn
scikit-learn
scikit-image
sympy
statsmodels
bokeh
hdf5
vincent
pytables
cython

# these are the base r packages in the r-notebook image ( YOU PROBABLY WANT THESE IF YOUR TARGET IN DOCKER IS r_lang OR r_julia )
r-base
r-caret
r-crayon
r-devtools
r-forecast
r-hexbin
r-htmltools
r-htmlwidgets
r-nycflights13
r-randomforest
r-rcurl
r-rmarkdown
r-rodbc
r-irkernel
r-rsqlite
r-shiny
r-tidyverse
unixodbc
r-tidymodels


# required for environment and plugins ( DO NOT REMOVE THESE!!! )
ipython 
ipykernel
