# add class-specific packages here:
blas
feather-format
h5py
lime
matplotlib-base
plotnine
unixodbc
xgboost
altair
vega_datasets

# these are the scipy base packages ( YOU PROBABLY DON'T WANT TO REMOVE THESE )
# dask
pandas
numexpr
matplotlib
scipy
seaborn
scikit-learn
scikit-image
sympy
cython
patsy
statsmodels
cloudpickle
dill
numba
bokeh
sqlalchemy
hdf5
vincent
beautifulsoup4
protobuf
xlrd
bottleneck
pytables

# these are the base r packages in the r-notebook image ( YOU PROBABLY WANT THESE IF YOUR TARGET IN DOCKER IS r_lang OR r_julia )
r-base=4
r-caret
r-crayon
r-devtools
r-forecast
r-hexbin
r-htmltools
r-htmlwidgets
r-irkernel
r-nycflights13
r-randomforest
r-rcurl
r-rmarkdown
r-rodbc
r-rsqlite
r-shiny
r-tidyverse
unixodbc
r-tidymodels

# required for environment and plugins ( DO NOT REMOVE THESE!!! )
ipython 
ipykernel
