# add class-specific classes here:
jupyterlab-dash
altair
vega_datasets
dash
dash-core-components 
dash-html-components 
dash-renderer 
plotly
plotly_express
git+https://github.com/sswatson/voyager-launch 
