altair
beautifulsoup4
blas
bokeh
bottleneck
cloudpickle
cython
dash
dash-core-components 
dash-html-components 
dash-renderer 
dask
dill
feather-format
h5py
hdf5
ipympl
ipywidgets
jupyter-server-proxy
jupyter_contrib_nbextensions
jupyterlab-git
jupytext
lime
matplotlib-base
nbdime
nbgitpuller
nodejs>10
numba
numexpr
pandas
patsy
plotly
plotnine
protobuf
pytables
r-base
r-caret
r-crayon
r-devtools
r-esquisse
r-feather
r-forecast
r-ggrepel
r-gridextra
r-hexbin
r-htmltools
r-htmlwidgets
r-irkernel
r-knitr
r-leaflet
r-maps
r-mlr
r-nycflights13
r-plyr
r-randomforest
r-rcurl
r-reshape2
r-rmarkdown
r-rodbc
r-rsqlite
r-shiny
r-tidymodels
r-tidyverse
rpy2
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
sympy
unixodbc
vega_datasets
vincent
widgetsnbextension
xgboost
xlrd

RISE
ipympl
ipywidgets
jupyter-server-proxy
jupyter_contrib_nbextensions
jupyterlab-dash
jupyterlab-git
jupyterlab-latex 
jupytext 
nbdime
nbgitpuller
nodejs>10
tini
widgetsnbextension
