#add extra pkgs here
#basic scipy
matplotlib 
numpy 
pandas 
pip
scikit-learn 
scipy
seaborn
#required for environment and plugins 
ipython 
ipykernel
RISE
ipympl
ipywidgets
jupyter-server-proxy
jupyter_contrib_nbextensions
jupyterlab-dash
jupyterlab-git
jupyterlab-latex 
jupytext 
nbdime
nbgitpuller
nodejs>10
widgetsnbextension