matplotlib 
numpy 
pandas 
pip
scikit-learn 
scipy
seaborn 

RISE
ipympl
ipywidgets
jupyter-server-proxy
jupyter_contrib_nbextensions
jupyterlab-dash
jupyterlab-git
jupyterlab-latex 
jupytext 
nbdime
nbgitpuller
nodejs>10
tini
widgetsnbextension
