# add class-specific packages here:
#r-cluster

# these are the scipy base packages ( YOU PROBABLY DON'T WANT TO REMOVE THESE )
dask 
pandas
numexpr
matplotlib
scipy
seaborn
scikit-learn
scikit-image
sympy
cython
patsy
statsmodels
cloudpickle
dill
numba
bokeh
sqlalchemy
hdf5
vincent
beautifulsoup4
protobuf
xlrd
bottleneck
pytables
tensorflow-cpu

# these are the base r packages in the r-notebook image ( YOU PROBABLY WANT THESE IF YOUR TARGET IN DOCKER IS r_lang OR r_julia )
r-base=4.3.*
r-caret
r-crayon
r-devtools
r-forecast
r-hexbin
r-htmltools
r-htmlwidgets
r-irkernel
r-nycflights13
r-randomforest
r-rcurl
r-rmarkdown
r-rodbc
r-rsqlite
r-shiny
r-tidyverse
unixodbc
r-tidymodels
r-leaflet
r-microbenchmark
r-foreach
r-doParallel
r-kernlab
r-e1071
r-pROC
r-tree
r-rpart
r-caret
r-doMC
r-randomForest
r-gbm
r-Metrics
r-keras
r-tfdatasets
r-arules
r-rtsne
r-deriv
r-plotly
r-cluster
r-xgboost
r-ranger
r-tensorflow

# required for environment and plugins ( DO NOT REMOVE THESE!!! )
ipython 
ipykernel
